*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content{
    width: 100%;
    height: 200px;
    background-color: red;
}

*{
    border: 1px solid blue; 
}

/**********************
    UTILITIES
 *********************/

/* LAYOUT */
.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col{

}

.col-50{
    width: calc(50%);
}

.justify-end{
    justify-content: flex-end;
}

/**********************
    SITE SECTION
 *********************/

 /* HEADER */



 /* APP FUNCTION SECTION */

.app-function-card,.app-function-card-xl, .col{
    width: 100%;
 }


 /* PLANNING SECTION */

 .plannning-card, .col{
    width: 100%;
 }


 /* PARTNER SECTION */

 /* BENEFITS SECTION */

 /* ABOUT US SECTION */

 /* GET STARTED SECTION */

 /* FOOTER */



/**********************
    GENERAL STYLES
 *********************/

*{
    font-family: 'Roboto', sans-serif;
}

/* COLORS */




/**********************
    MEDIA QUERIES
 *********************/

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    
}