*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content{
    width: 100%;
    height: 200px;
    background-color: red;
}

/**********************
    UTILITIES
 *********************/

/* LAYOUT */
.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-padding{
    padding-top: 100px;
}

/* CARD */

.card{
    margin: 0 auto;
    border-radius: 20px;
    margin: 0px 30px;
    padding: 20px 40px;
}

/* COLUMNS */

.col{

}

.col-50{
    width: calc(50%);
}

.w-100{
    width: 100%;
}

/* POSITIONING */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}

.p-relative{
    position: relative;
}

/* PDDINGS */

.padding-x-15{
    padding: 0px 15px;
}

.padding-y-15{
    padding: 15px 0px;
}

.padding-y-30{
    padding: 30px 0px;
}


.icon-padding{
    padding: 30px 0px 15px 0px;
}

/**********************
    SITE SECTION
 *********************/

 /* HEADER */

header{
    position: fixed;
    z-index: 1;
    width: 100%;
}

#logo{
    padding: 15px 30px;
}

#bars-menu{
    padding: 15px 30px;
}

.fa-bars{
    color: white;
}

 /* APP FUNCTION SECTION */

 .app-function .col-xl{
    width: 100%;
 }

.app-function .col{
    width: 100%;
 }

 #phone-img{
    width: 300px;
 }


 /* APP FUNCTION SECTION ICONS */

 .fa-file-code,
 .fa-compass-drafting,
 .fa-laptop-code,
 .fa-bullhorn{
    color: #0084FD;
 }


 /* PLANNING SECTION */

 .planning-section .col{
    width: 100%;
 }

 /* PARTNER SECTION */

 .partner-section .col{
    width: 100%;

 }
 /* BENEFITS SECTION */

.benefits-section .row{
    row-gap: 30px;
}

 .benefits-section .col{
    width: 100%;
 }

.benefits-number{
    color: #9792E4;
    font-size: 50px;
}

 /* ABOUT US SECTION */

 .about-us-section .col{
    width: 100%;

 }

 /* GET STARTED SECTION */

 /* FOOTER */

/**********************
    GENERAL SETTINGS
 *********************/

 div img{
    max-width: 100%;
 }


/**********************
    GENERAL STYLES
 *********************/

*{
    font-family: 'Roboto', sans-serif;
}

p{
    line-height: 1.8;
}

a{
    text-decoration: none;
}

h3{
    font-size: 22px;
    line-height: 1.5;
}

h2{
    font-size: 33px;
    font-weight: bold;
    line-height: 1.5;
}

/* BUTTONS */

.button{
    border-radius: 20px;
    padding: 10px 50px;
    word-spacing: 3px;
    font-weight: bold;
}

.blue-b{
    color: white;
    background-color: #0084FD;
}

.purple-b{
    color: #fff;
    background-color: #9792E4;
}


/* COLORS */

.bg-blue{
    background-color: #0084FD;
}

.bg-light-blue{
    background-color: #B5DDFF;
}

.bg-light-purple{
    background-color: #9792E4;
}

.bg-black{
    background-color: #333333;
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.light-purple{
    color: #9792E4;
}

.blue{
    color: #0084FD;
}

.gray{
    color: #5A6E7F;
}

.yellow{
    color: #FDC15F;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}




/**********************
    MEDIA QUERIES
 *********************/

@media screen and (min-width: 768px) {

/* CARD */

.card{
    margin: 0px 5px;
}

/* APP FUNCTION SECTION */

.app-function .row{
    column-gap: 20px;
    row-gap: 20px;
 }

 .app-function .col-xl{
    width: calc(66% - 20px);
 }

.app-function .col{
    width: calc(33% - 20px);
 }


 /* PARTNER SECTION */

 .partner-section .col{
    width: 100%;

 }

 /* BENEFITS SECTION */

 .benefits-section .col{
    width: calc(100%/2 - 20px);

 }

 .benefits-section .row{
    row-gap: 20px;
    justify-content: space-around;

 }

 /* ABOUT US SECTION */

 .about-us-section .col{
    width: calc(100%/2);

 }
    
}

@media screen and (min-width: 1200px) {

/* CONTAINER */

.container{
    max-width: 1200px;
}

/* CARD */

.card{
    margin: 0px 5px;
}

/* APP FUNCTION SECTION */

.app-function .row{
    column-gap: 20px;
    row-gap: 20px;
 }

 .app-function .col-xl{
    width: calc(66% - 20px);
 }

.app-function .col{
    width: calc(33% - 20px);
 }

  /* PLANNING SECTION */

  .planning-section .col{
    width: calc(100% / 2);
 }

 /* PARTNER SECTION */

 .partner-section .col{
    width: 100%;

 }

 /* BENEFITS SECTION */

 .benefits-section .col{
    width: calc(100%/3 - 20px);

 }

 .benefits-section .row{
    row-gap: 20px;
    justify-content: space-between;

 }

 /* ABOUT US SECTION */

 .about-us-section .col{
    width: calc(100%/2);

 }
    
}